
body{
    background-color:#F8E8CC;
    margin: 0px;
    overflow: hidden;
}

#headerbox{
    width: 100vw;
    background-color: #914E56;

    height: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
}
#headertitle{
    padding: 4px;
}
#karusell{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.carouselImg{
    width: 200px;
    height: 200px;
}