#gamePage{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameContainer{
    width: 40vw;
    height: 80vh;
    background: #7d7699;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    padding-bottom: 15px;
}
#gameText{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
}
#gameGuesses{
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.guessField{
    width: 35vw;
    height: 7vh;
    background-color: #4c4760;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 1px;
    
}
#pickSongButton {
    width: 75px;
    height: 75px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    color: #FFFCF8;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #4c4760;
}
#pickSongButton:hover {
    background-color: #2a2836;
}
#guess {
    width: 30vw;
    height: 5vh;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: #FFFCF8;
    text-align: center;
}